<div *ngIf="show">
  <div style="display: flex; justify-content: center;">
    <img style="width: 300px; margin-top: 100px;" src="assets/logo3D.gif" alt="">
  </div>
  <h3 style="margin-top: -80px; font-size: 13px; text-align: center;">Your content is loading..</h3>
</div>

<div *ngIf="!show" class="container">
  <mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar style="background-image: url({{imagePath}});
      background-size: cover;"></div>
      <p style="color: whitesmoke; font-size: 15px; padding-top: 10px; padding-left: 10px;">{{driverDetails?.Drivers[0].givenName}} {{driverDetails?.Drivers[0].familyName}}</p>
    </mat-card-header>
    <img mat-card-image src={{imagePath}} alt="Driver image" style="max-width: 100%; object-fit: cover; padding: 20px;">
    <mat-card-content style="padding: 15px; text-align: center;">
      <p>Date of birth: {{driverDetails?.Drivers[0].dateOfBirth}}</p>
      <p>Nationality: {{driverDetails?.Drivers[0].nationality}}</p>
      <p>Race code: {{driverDetails?.Drivers[0].code}} {{driverDetails?.Drivers[0].permanentNumber}}</p>
    </mat-card-content>
    <mat-card-actions style="display: flex; justify-content: center;">
      <button mat-flat-button color="warn" style="width: 180px; margin-bottom: 15px; background-color: rgb(255, 11, 21); color: whitesmoke;"><a style="text-decoration: none; color: whitesmoke;" href={{driverDetails?.Drivers[0].url}} target="_blank">Learn more</a></button>
    </mat-card-actions>
  </mat-card>
</div>
