<!-- <div *ngIf="show">
  <div style="display: flex; justify-content: center;">
    <img style="width: 300px; margin-top: 100px;" src="assets/logo3D.gif" alt="">
  </div>
  <h3 style="margin-top: -80px; font-size: 13px; text-align: center;">Your content is loading..</h3>
</div> -->

<div>
  <div style="display: flex; justify-content: center; margin-bottom: 80px; margin-top: 50px;">
    <img src="../../../assets/logo.png" alt="" width="60%" style="margin-top: 80px; width: 300px; margin-top: 75px; margin-bottom: 30px;">
  </div>
  <div style="text-align: center; margin: 10px;">
    <button mat-flat-button style="width: 300px; background-color: rgb(255, 11, 21); color: whitesmoke;" routerLink="standing/driver">Live standing</button>
  </div>
  <div style="text-align: center; margin: 10px;">
    <button mat-flat-button style="width: 300px; background-color: rgb(255, 11, 21); color: whitesmoke;" routerLink="competitions">Competitions</button>
  </div>
  <div style="text-align: center; margin: 10px;">
    <button mat-flat-button style="width: 300px; background-color: rgb(255, 11, 21); color: whitesmoke;" routerLink="standing/constructor">Constructors</button>
  </div>
  <div style="text-align: center; margin: 10px;">
    <button mat-flat-button style="width: 300px; background-color: rgb(255, 11, 21); color: whitesmoke;" routerLink="teams">FantaF1</button>
  </div>
  <div style="text-align: center; margin: 10px;">
    <button mat-flat-button style="width: 300px; background-color: rgb(255, 11, 21); color: whitesmoke;" routerLink="teamsStanding">FantaF1 standing</button>
  </div>
  <div style="text-align: center; margin: 10px;">
    <button mat-flat-button style="width: 300px; background-color: rgb(255, 11, 21); color: whitesmoke;" (click)="logout()">Logout</button>
  </div>
</div>
