.card {
  max-width: 400px;
  background-color: #322E2E;
  color: whitesmoke;
}

.container {
  padding: 2%;
  display: flex;
  justify-content: center;
}

.cardForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  }

form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

mat-form-field {
  width: 100%;
}

button {
  align-self: flex-end;
}

